.hero-image {
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}
.hero-text {
  position: absolute;
  top: 145px;
  left: 200px; 
  font-family: Abril Fatface; 
  color:white;
  margin: 0;
  line-height: 40px;  
  cursor:pointer;

}
img{
 width: 100%;
 height: 400px; 
 object-fit: cover; 
}
.grey{
  background-color: #444; 
  width: 700px; 
  height: 100px; 
  margin-left: auto;
  margin-right: auto;
  color: white;
  }
.grey2{
  background-color: #444; 
  width: 700px; 
  height: 150px; 
  margin-left: auto;
  margin-right: auto;
}
.grey3 {
  background-color: #444; 
  width: 700px; 
  height: 150px; 
  margin-left: auto;
  margin-right: auto;
}
blockquote{
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  color: white;
  font-family: Abril Fatface; 
  
}
blockquote::before{
  
  font-family: Abril Fatface;
  content: "\201C";
  color:white;
  font-size: 35px;
  position: relative;
  bottom: 30px;
}
.bold{
  font-weight: bold;
  color: black;
  }
.ability{
  width: 550px; 
  margin-left: auto;
  margin-right: auto; 
  font-family: Josefin Sans; 
  color: grey;
}
.list{
  width: 550px; 
  margin-left: auto;
  margin-right: auto; 
  font-family: Josefin Sans; 
  color:#222;
}
.dolt{
  font-weight: bold;
  font-style: italic; 
  color:#222;
}
.achi{
  font-size: 30px;
  font-family:Josefin Sans;
  font-weight: bold;
  color:#222;
}
.episode{
  width: 550px; 
  font-family:Josefin Sans;
  margin-left: auto;
  margin-right: auto;
}
.fejezet{
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color:#222;
}
.utoslo{
  
  weight: 100%;
  height: 2px;
}
hr{
  border: 1px solid black;
  border-radius: 2px;
}